* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

/* ===== NAVBAR ===== */
header {
    background: #343434;
    padding: 15px 0;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.menu li a:hover {
    color: #656565;
}

/* ===== HOME ===== */
.home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(20deg, #515151, #444444);
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background: #1e1e1e;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* ===== SOBRE ===== */
.sobre {
    max-width: 900px;
    margin: 40px auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}

.foto-perfil {
    width: 180px;
    border-radius: 100px;
    display: block;
    margin: 15px auto;
}

/* ===== PROJETOS ===== */
.projetos {
    max-width: 1100px;
    margin: 60px auto;
    background: white;
    padding:30px;
    border-radius: 10px;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px black;
}

/* ===== CONTATO ===== */
.contato {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
}

/* ===== FOOTER ===== */
footer {
    background: #343434;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 700px) {
    .menu {
        display: none;
    }

    .navbar {
        justify-content: center;
    }
}

/*==== FOOTER EMBAIXO ====*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
